Repository dolphin-admin/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.md": ["prettier --write"]
}

feat: :sparkles: update auto import
  plugins/auto-import/CHANGELOG.md
  plugins/auto-import/package.json
  plugins/auto-import/src/presets/antd.ts
  plugins/auto-import/src/presets/utils.ts
Due: eslint --fix, prettier --write

fix: :bug: fix lang utils not export
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/src/index.ts
Due: eslint --fix, prettier --write

fix: :bug: fix theme utils not export
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/src/index.ts
Due: eslint --fix, prettier --write

refactor: :recycle: update utils
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/src/auth.ts
  packages/utils/src/browser.ts
  packages/utils/src/lang.ts
  packages/utils/src/theme.ts
  packages/utils/src/time.ts
  packages/utils/src/types/lang.ts
  packages/utils/src/types/theme.ts
Due: eslint --fix, prettier --write

feat: :sparkles: add new method
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/src/lang.ts
Due: eslint --fix, prettier --write

chore: :hammer: update
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

chore: :hammer: update
  package.json
  plugins/bootstrap-animation/CHANGELOG.md
  plugins/bootstrap-animation/package.json
  plugins/bootstrap-animation/src/utils.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: update
  rspress.config.ts
Due: eslint --fix, prettier --write

chore: :hammer: update deps
  package.json
  plugins/auto-import/package.json
  pnpm-lock.yaml
Due: none

chore: :hammer: update deps
  package.json
  playground/package.json
  pnpm-lock.yaml
Due: none

docs: :memo: update
  docs/en/_meta.json
  docs/en/community/changelog.md
  docs/en/community/feature-requests.md
  docs/en/community/resources.md
  docs/en/community/showcase.md
  docs/en/community/support.md
  docs/en/community/team.md
  docs/zh/_meta.json
  docs/zh/community/changelog.md
  docs/zh/community/feature-requests.md
  docs/zh/community/resources.md
  docs/zh/community/showcase.md
  docs/zh/community/support.md
  docs/zh/community/team.md
  docs/zh/guide/core/_meta.json
  docs/zh/guide/core/bootstrap-animation.md
  docs/zh/guide/core/introduction.md
  pnpm-lock.yaml
  rspress.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

docs: :memo: update
  docs/zh/guide/react/_meta.json
  docs/zh/guide/react/dev-standard.md
  docs/zh/guide/react/structure.md
  docs/zh/guide/vue/_meta.json
  docs/zh/guide/vue/structure.md
Due: prettier --write

feat: :sparkles: migrate to vite v5
  package.json
  packages/auto-import/CHANGELOG.md
  packages/auto-import/build.config.ts
  packages/auto-import/package.json
  packages/auto-import/src/index.ts
  packages/auto-import/src/presets/antd.ts
  packages/auto-import/src/presets/index.ts
  packages/auto-import/src/presets/utils.ts
  packages/auto-import/tsconfig.json
  packages/bootstrap-animation/CHANGELOG.md
  packages/bootstrap-animation/build.config.ts
  packages/bootstrap-animation/package.json
  packages/bootstrap-animation/src/config.ts
  packages/bootstrap-animation/src/index.ts
  packages/bootstrap-animation/src/types.ts
  packages/bootstrap-animation/src/utils.ts
  packages/bootstrap-animation/src/vite-plugin.ts
  packages/bootstrap-animation/tsconfig.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

[ImgBot] Optimize images
  docs/public/bit-ocean.png
  docs/public/dolphin-admin-pink.png
  docs/public/dolphin-admin.png
  playground/public/vite.svg
  playground/src/assets/react.svg
Due: none

chore: :hammer: update deps
  package.json
  packages/auto-import/package.json
  packages/bootstrap-animation/package.json
  playground/package.json
  pnpm-lock.yaml
Due: none

feat: :sparkles: authUtils add refresh token
  package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/src/auth.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: :sparkles: release
  package.json
  packages/auto-import/CHANGELOG.md
  packages/auto-import/package.json
  packages/bootstrap-animation/CHANGELOG.md
  packages/bootstrap-animation/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/src/lang.ts
  packages/utils/src/types/function.ts
  packages/utils/src/types/lang.ts
  playground/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: :bug: function type export
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/src/types/index.ts
Due: eslint --fix, prettier --write

refactor: :recycle: extract enums to independent dir
  packages/utils/src/enums/index.ts
  packages/utils/src/enums/lang.ts
  packages/utils/src/enums/theme.ts
  packages/utils/src/index.ts
  packages/utils/src/lang.ts
  packages/utils/src/theme.ts
  packages/utils/src/types/lang.ts
Due: eslint --fix, prettier --write

fix: :bug: release
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/src/types/index.ts
Due: eslint --fix, prettier --write

feat: :sparkles: release
  package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/src/lang.ts
  packages/utils/src/types/index.ts
  packages/utils/src/types/lang.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: :sparkles: release
  package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/src/time.ts
  packages/utils/src/types/time.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: update repository references & eslint version
  .cspell.txt
  package.json
  packages/auto-import/package.json
  packages/bootstrap-animation/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: none
